In [2]:
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots
import re
import seaborn as sns

In [3]:
dataset = pd.read_csv('src/dataset_clear.csv')
dataset.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,17.0,2010-01-10,829207.27,0.0,60.07,2.853,126.234600,6.885000
1,7.0,2010-02-04,561145.14,0.0,38.26,2.725,189.704822,8.963000
2,19.0,2010-02-07,1549018.68,0.0,66.25,2.958,132.521867,8.099000
3,13.0,2010-02-07,2018314.71,0.0,78.82,2.814,126.139200,7.951000
4,2.0,2010-02-19,2124451.54,0.0,39.69,2.514,210.945160,7.658616

In [4]:
 # - Categorical variables : Store, Holiday_Flag
 # - Numerical variables : Temperature, Fuel_Price, CPI, Unemployment, Year, Month, Day, DayOfWeek